[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ccTensor"]
	path = ccTensor
	url = https://github.com/rikenbit/cctensor
[submodule "dcTensor"]
	path = dcTensor
	url = https://github.com/rikenbit/dctensor
[submodule "DelayedTensor"]
	path = DelayedTensor
	url = https://github.com/rikenbit/delayedtensor
[submodule "gcTensor"]
	path = gcTensor
	url = https://github.com/rikenbit/gctensor
[submodule "guidedPLS"]
	path = guidedPLS
	url = https://github.com/rikenbit/guidedpls
[submodule "iTensor"]
	path = iTensor
	url = https://github.com/rikenbit/itensor
[submodule "meshr"]
	path = meshr
	url = https://github.com/rikenbit/meshr
[submodule "mwTensor"]
	path = mwTensor
	url = https://github.com/rikenbit/mwtensor
[submodule "nnTensor"]
	path = nnTensor
	url = https://github.com/rikenbit/nntensor
[submodule "rTensor"]
	path = rTensor
	url = https://github.com/rikenbit/rtensor
[submodule "ttTensor"]
	path = ttTensor
	url = https://github.com/rikenbit/tttensor
[submodule "Vicus"]
	path = Vicus
	url = https://github.com/rikenbit/vicus
[submodule "WormTensor"]
	path = WormTensor
	url = https://github.com/rikenbit/wormtensor
